{% set list_slides %}
    {% for item in items %}
        <div{{ item.attributes.addClass('field__item', 'swiper-slide') }}>{{ item.content }}</div>
    {% endfor %}
{% endset %}

<!-- Replaces the block slides in slider.twig -->
{% embed('drupalcon:slider') %}
    {% block slides %}
        {{ list_slides }}
    {% endblock %}
{% endembed %}
